/*========= Colores =============*/
$WhiteT: rgba(255, 255, 255, 0.541);
$ModalBackdrop: rgba(255, 255, 255, 0.274);
$ModalBackdrop2: rgba(209, 135, 135, 0.466);
$GreyFooter: rgba(53, 53, 53, 0.541);
$IntroIcons: rgb(209, 209, 209);
/* inicio parallax color */
$InicioB: #d18fb0;