@import "../sass/fonts";
@import "../sass/colores";
@import "../sass/animaciones";


/* inicio responsive START*/
    @media (min-width: 320px) and (max-width: 425px){
        html{
            padding-left: -10px;
        }
        body{
            width: 100vw;
        }
        .parallax{
            display: flex;
            flex-direction: column;
            /* items align */
            align-content: space-between;
            background-color: #d18fb0;
            z-index: -1;
        }
        .parallaxson1{
            width: 100vw;
            height: 100vh;
        }
        .parallaxson2{
            width: 100vw;
            height: 128vh;
        }
        .parallaxson3{
            width: 100vw;
            height: 320vh;
            padding-top: 10vh;
        }   
        /*==slider==*/
        .section_flex_slider{
            z-index: 1;
            width: 100vw;
        }
        .section_title_parallax{
            font-size: 1.8rem;
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .section_text_parallax{
            margin-left: 2vh;
            text-align: left;
            font-family: 'Nunito', sans-serif;
        }
        .imgInicio{
            width: 100vw;
        }
        .section3_title{
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .parallax{
            display: flex;
            flex-direction: column;
            /* items align */
            align-content: space-between;
            background-color: #d18fb0;
            z-index: -1;
        }
        .parallaxson1{
            width: 100vw;
            height: 100vh;
        }
        .parallaxson2{
            width: 100vw;
            height: 128vh;
        }
        .parallaxson3{
            width: 100vw;
            height: 320vh;
            padding-top: 10vh;
        }   
        /*==slider==*/
        .section_flex_slider{
            z-index: 1;
            width: 100vw;
        }
        .section_title_parallax{
            font-size: 1.8rem;
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .section_text_parallax{
            margin-left: 2vh;
            text-align: left;
            font-family: 'Nunito', sans-serif;
        }
        .imgInicio{
            width: 100vw;
        }
        .section3_title{
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
    }
    @media (min-width: 426px) and (max-width: 767px){
        body{
            width: 100vw;
        }
        .parallax{
            display: flex;
            flex-direction: column;
            /* items align */
            align-content: space-between;
            background-color: #d18fb0;
            z-index: -1;
        }
        .parallaxson1{
            width: 100vw;
            height: 100vh;
        }
        .parallax_intermedio{
            height: 20px;
            background-color: #d18fb0;
        }
        .parallaxson2{
            width: 100vw;
            height: 156vh;
        }
        /*==slider==*/
        .section_flex_slider{
            z-index: 1;
            width: 100vw;
        }
        .section_title_parallax{
            font-size: 1.8rem;
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .section_text_parallax{
            margin-left: 6vw;
            width: 88vw; 
            text-align: center;
            font-family: 'Nunito', sans-serif;
        }
        .section3{
            display: flex;
            flex-direction: column;
            background-color: #d18fb0;
        }
        .section3_title{
            margin-left: 17vw;
            font-family: 'Nunito', sans-serif;
        }
        .imgInicio{
            margin-top: 5px;
            width: 100vw;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
        .parallax{
            display: flex;
            flex-direction: column;
            /* items align */
            align-content: space-between;
            background-color: $InicioB;
            z-index: -1;
        }
        .parallaxson1{
            width: 100vw;
            height: 100vh;
        }
        .parallaxson2{
            width: 100vw;
        }
        .parallaxson3{
            width: 100vw;
            height: 120vh;
            padding-top: 20vh;
        }
        .parallax_intermedio{
            background-color: $InicioB;
        }
        /*==slider==*/
        .section_flex_slider{
            z-index: 1;
            width: 70vw;
            margin-left: 15vw;
        }
        .section_title_parallax{
            font-size: 1.8rem;
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .section_text_parallax{
            margin-left: 15vw;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            width: 70vw;
        }
        .imgInicio{
            margin-top: 17vh;
            width: 25vw;
        }
        .section3_title{
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .gridTextSup{
            font-size: 2.5rem;
        }
        .gridTextInf{
            font-size: 2.5rem;
        }
        .section3_img{
            display: flex;
            flex-direction: row;
        }
        .section3{
            background-color: $InicioB;
        }
    }
    @media (min-width: 1025px) and (max-width: 1440px){
        .parallax{
            display: flex;
            flex-direction: column;
            /* items align */
            align-content: space-between;
            background-color: $InicioB;
            z-index: -1;
        }
        .parallaxson1{
            width: 100vw;
            height: 100vh;
        }
        .parallaxson2{
            width: 100vw;
        }
        .parallaxson3{
            width: 100vw;
            height: 120vh;
            padding-top: 20vh;
        }
        .parallax_intermedio{
            background-color: $InicioB;
        }
        /*==slider==*/
        .section_flex_slider{
            z-index: 1;
            width: 70vw;
            margin-left: 15vw;
        }
        .section_title_parallax{
            font-size: 1.8rem;
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .section_text_parallax{
            margin-left: 15vw;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            width: 70vw;
        }
        .imgInicio{
            margin-top: 17vh;
            width: 25vw;
        }
        .section3_title{
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 7vh;
            font-family: 'Nunito', sans-serif;
        }
        .gridTextSup{
            font-size: 2.5rem;
        }
        .gridTextInf{
            font-size: 2.5rem;
        }
        .section3_img{
            display: flex;
            flex-direction: row;
        }
        .section3{
            background-color: $InicioB;
        }
    }
    @media (min-width: 1441px){
        ::-webkit-scrollbar {
            display: none;
        }
        .parallax{
            display: flex;
            flex-direction: column;
            /* items align */
            align-content: space-between;
            background-color: $InicioB;
            z-index: -1;
            width: 100vw;
        }
        .section_title_parallax{
            font-family: 'Nunito', sans-serif;
        }
        .section3_title{
            font-family: 'Nunito', sans-serif;
        }
        .parallaxson1{
            width: 100vw;
            height: 100vh;
        }
        .parallaxson2{
            display: flex;
            flex-direction: row;
        }
        .box_izquierdo{
            width: 50vw;
            margin-left: 10%;
        }
        .section_flex_slider{
            width: 38.6vw;
        }
        .box_derecho{
            display: flex;
            flex-direction: column;
            width: 50vw;
        }
        .section3_img{
            display: flex;
            flex-wrap: wrap;
        }
        .footer_index{
            display: flex;
            margin-top: 50px;
            height: 60px;
            background-color: rgba(219, 219, 219, 0.301);
            }
        .footer_p{
            margin-left: 45vw;
            margin-top: 1vh;
            font-family: 'Nunito', sans-serif;
        }
        h2.gridTextSup{
            font-size: 4rem;
        }
        .gridTextInf{
            font-size: 4rem;
        }
    }
/* inicio responsive END*/
/* tienda responsive START */
@media (min-width: 320px) and (max-width: 425px){
    body{
        background-color: $InicioB;
    }
    .tienda_flex{
        display: flex;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
    }
    .products_flex{
        margin-top: 40vh;
        display: flex;
        flex-direction: column;
    }
    .boton_product{
        display: flex;
        flex-direction: row;
    }
    .btn_price{
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 10%;
    }
    .btn_buy{
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 30%;
    }
    .product1{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        height: min-content;
        width: fit-content;
    }
    .img.imgProduct1{
        width: 100vw;
    }
    .img.imgProduct2{
        width: 100vw;
    }
    .img.imgProduct3{
        width: 100vw;
    }
    .img.imgProduct4{
        width: 100vw;
    }
    .img.imgProduct5{
        width: 100vw;
    }
    .img.imgProduct6{
        width: 100vw;
    }
    .img.imgProduct7{
        width: 100vw;
    }
    .img.imgProduct8{
        width: 100vw;
    }
    .product2{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product3{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product4{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product5{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product6{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product7{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product8{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .description_product{
        font-size: 1.5rem;
        text-align: center;
    }
    .header_title{
        margin-top: 10vh;
        margin-left: 25vw;
        display: flex;
    }
    .headerTxt{
        font-size: 1.3rem;
    }
    .header_text{
        width: min-content;
        margin-left: 35vw;
        text-align: right;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
}
@media (min-width: 426px) and (max-width: 767px){
    body{
        background-color: $InicioB;
    }
    .tienda_flex{
        display: flex;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
    }
    .product_card{
        width: 100%;
    }
    .products_flex{
        margin-top: 40vh;
        display: flex;
        flex-direction: column;
    }
    .boton_product{
        display: flex;
        flex-direction: row;
    }
    .btn_price{
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 10%;
    }
    .btn_buy{
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 30%;
    }
    .product1{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        height: min-content;
        width: fit-content;
    }
    .imgProduct1{
        width: 100%;
    }
    .imgProduct2{
        width: 100%;
    }
    .imgProduct3{
        width: 100%;
    }
    .imgProduct4{
        width: 100%;
    }
    .imgProduct5{
        width: 100%;
    }
    .imgProduct6{
        width: 100%;
    }
    .product2{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product3{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product4{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product5{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .product6{
        background-color: rgba(255, 255, 255, 0.329);
        box-shadow: -2px 9px 7px 11px  rgba(255, 255, 255, 0.349);
        margin-top: 50px;
        height: min-content;
        width: fit-content;
    }
    .description_product{
        font-size: 1.5rem;
        text-align: center;
    }
    .header_title{
        margin-top: 10vh;
        margin-left: 25vw;
        display: flex;
    }
    .headerTxt{
        font-size: 1.3rem;
    }
    .header_text{
        width: min-content;
        margin-left: 35vw;
        text-align: right;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    body{
        background-color: $InicioB;
    }
    .tienda_flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
    }
    .product_card{
        width: 100%;
    }
    .products_flex{
        margin-top: 70vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .boton_product{
        display: flex;
        flex-direction: row;
    }
    .btn_price{
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 10%;
    }
    .btn_buy{
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 30%;
    }
    .imgProduct1{
        width: 45vw;
    }
    .imgProduct2{
        width: 45vw;
    }
    .imgProduct3{
        width: 45vw;
    }
    .imgProduct4{
        width: 45vw;
    }
    .imgProduct5{
        width: 45vw;
    }
    .imgProduct6{
        width: 45vw;
    }
    .product1{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 10px;
        height: min-content;
        width: 45vw;
    }
    .product2{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 50px;
        height: min-content;
        width: 45vw;
    }
    .product3{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 10px;
        height: min-content;
        width: 45vw;
    }
    .product4{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 50px;
        height: min-content;
        width: 45vw;
    }
    .product5{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 10px;
        height: min-content;
        width: 45vw;
    }
    .product6{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 50px;
        height: min-content;
        width: 45vw;
    }
    .description_product{
        font-size: 1.5rem;
        text-align: center;
    }
    .header_title{
        margin-top: 10vh;
        margin-left: 25vw;
        display: flex;
    }
    .headerTxt{
        font-size: 1.3rem;
    }
    .header_text{
        text-align: right;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    body{
        background-color: $InicioB;
    }
    .tienda_flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
    }
    .product_card{
        width: 100%;
    }
    .products_flex{
        margin-top: 70vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .boton_product{
        display: flex;
        flex-direction: row;
    }
    .btn_price{
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 10%;
    }
    .btn_buy{
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 30%;
    }
    .imgProduct1{
        width: 45vw;
    }
    .imgProduct2{
        width: 45vw;
    }
    .imgProduct3{
        width: 45vw;
    }
    .imgProduct4{
        width: 45vw;
    }
    .imgProduct5{
        width: 45vw;
    }
    .imgProduct6{
        width: 45vw;
    }
    .product1{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 10px;
        height: min-content;
        width: 45vw;
    }
    .product2{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 50px;
        height: min-content;
        width: 45vw;
    }
    .product3{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 10px;
        height: min-content;
        width: 45vw;
    }
    .product4{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 50px;
        height: min-content;
        width: 45vw;
    }
    .product5{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 10px;
        height: min-content;
        width: 45vw;
    }
    .product6{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        border-radius: 3%;
        margin-top: 50px;
        margin-left: 50px;
        height: min-content;
        width: 45vw;
    }
    .description_product{
        font-size: 1.5rem;
        text-align: center;
    }
    .header_title{
        margin-top: 25vh;
        margin-left: 40vw;
        display: flex;
    }
    .headerTxt{
        font-size: 1.3rem;
    }
    .header_text{
        text-align: right;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
}
@media (min-width: 1441px){
    body{
        background-color: $InicioB;
    }
    .tienda_flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
    }
    .product_card{
        width: 100%;
    }
    .products_flex{
        height: 100vh;
        margin-left: 3vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .boton_product{
        display: flex;
        flex-direction: row;
    }
    .btn_price{
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 10%;
    }
    .btn_buy{
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 5px;
        margin-left: 30%;
    }
    .imgProduct1{
        width: 21vw;
    }
    .imgProduct2{
        width: 21vw;
    }
    .imgProduct3{
        width: 21vw;
    }
    .imgProduct4{
        width: 21vw;
    }
    .imgProduct5{
        width: 21vw;
    }
    .imgProduct6{
        width: 21vw;
    }
    
    .imgProduct7{
        width: 21vw;
    }
    
    .imgProduct8{
        width: 21vw;
    }
    .product1{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 5vw;
        height: min-content;
        width: 21vw;
    }
    .product2{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 15px;
        height: min-content;
        width: 21vw;
    }
    .product3{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 20px;
        height: min-content;
        width: 21vw;
    }
    .product4{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 20px;
        height: min-content;
        width: 21vw;
    }
    .product5{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 5vw;
        height: min-content;
        width: 21vw;
    }
    .product6{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 15px;
        height: min-content;
        width: 21vw;
    }
    .product7{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 15px;
        height: min-content;
        width: 21vw;
    }
    .product8{
        background-color: rgba(255, 255, 255, 0.233);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.233);
        margin-top: 50px;
        margin-left: 15px;
        height: min-content;
        width: 21vw;
    }
    .description_product{
        font-size: 1.5rem;
        text-align: center;
    }
    .header_title{
        margin-top: 25vh;
        margin-left: 40vw;
        display: flex;
    }
    .headerTxt{
        font-size: 1.3rem;
    }
    .header_text{
        text-align: right;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
    .marketplace_start{
        display: flex;
        flex-direction: column;
    }
    .tienda_publicidad{
        margin-top: 60vh;
        height: 10vh;
        background-color: aliceblue;
    }
}
/* tienda responsive END */
/* equipo responsive START */
@media (min-width: 320px) and (max-width: 425px){}
@media (min-width: 426px) and (max-width: 767px){}
@media (min-width: 768px) and (max-width: 1024px){}
@media (min-width: 1025px) and (max-width: 1440px){}
@media (min-width: 1441px){}
/* equipo responsive END */
/* concurso responsive START */
@media (min-width: 320px) and (max-width: 562px){
    .equipo_flex{
        display: flex;
        flex-direction: column;
        background-color: #e2edff;
    }
    .textCard_Concurso{
        margin-top: 2px;
        color: black;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;
    }
    .section_inicioEquipo{
        display: flex;
        background-color: #e2edff;
        height: 100vh;
        width: 100vw;
    }
    .section_inicioTitle{
        font-family: 'Nunito', sans-serif;
        margin-left: 42vw;
        margin-top: 34vh;
        width: 57vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .btn_inicioTittle{
        text-decoration: none;
        font-size: 1.7rem;
    }
    .advertencia_concursos{
        font-size: 1.3rem;
        height: 2vh;
        text-align: center;
    }
    .concurso_card-uno{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .section_card-and-text{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .card-titleAnd-description{
        width: 100vw;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section_flex_cards{
        margin-top: 5vh;
        display: flex;
        align-content: center;
        width: 100vw;
    }
    .section_card_body{
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    .concurso_card-dos{
        display: flex;
        margin-top: 40vh;
        height: 100vh;
        width: 100vw;
    }
    .concurso_card-tres{
        display: flex;
        margin-top: 40vh;
        height: 100vh;
        width: 100vw;
    }
    .section_footer{
        margin-top: 55vh;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: #dee4ec6e;
    }
    .img_card_Concurso{
        opacity: 0.3;
    }
    .title_inicio{
        font-size: 2rem;
    }
    .subtitle_inicio{
        width: 57vw;
        font-size: 1rem;
    }
    .box-text-title {
        font-family: 'Nunito', sans-serif;
    margin-left: 10vw;
    text-align: center;
    width: 80vw;
    font-size: 1rem;
    }
    .textCard_Concurso{
        font-size: 1.2rem;
    }
    .card-description-One{
        font: 1.5rem;
    }
    .card-container , .front, .back{
        width: 20rem !important; 
        height: 20rem !important;
    }
}
@media (min-width: 563px) and (max-width: 767px){
    .equipo_flex{
        display: flex;
        flex-direction: column;
        background-color: #e2edff;
    }
    .textCard_Concurso{
        margin-top: 2px;
        color: black;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;
    }
    .section_inicioEquipo{
        display: flex;
        background-color: #e2edff;
        height: 100vh;
        width: 100vw;
    }
    .section_inicioTitle{
        font-family: 'Nunito', sans-serif;
        margin-left: 42vw;
        margin-top: 34vh;
        width: 57vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .btn_inicioTittle{
        text-decoration: none;
        font-size: 1.7rem;
    }
    .advertencia_concursos{
        font-size: 1.3rem;
        height: 2vh;
        text-align: center;
    }
    .concurso_card-uno{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .section_card-and-text{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .card-titleAnd-description{
        width: 100vw;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section_flex_cards{
        display: flex;
        align-content: center;
        width: 100vw;
    }
    .section_card_body{
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    .concurso_card-dos{
        display: flex;
        margin-top: 40vh;
        height: 100vh;
        width: 100vw;
    }
    .concurso_card-tres{
        display: flex;
        margin-top: 40vh;
        height: 100vh;
        width: 100vw;
    }
    .section_footer{
        margin-top: 55vh;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: #dee4ec6e;
    }
    .img_card_Concurso{
        opacity: 0.3;
    }
    .title_inicio{
        font-size: 2rem;
    }
    .subtitle_inicio{
        width: 57vw;
        font-size: 1rem;
    }
    .box-text-title {
        font-family: 'Nunito', sans-serif;
    margin-left: 10vw;
    text-align: center;
    width: 80vw;
    font-size: 1rem;
    }
    .textCard_Concurso{
        font-size: 1.2rem;
    }
    .card-description-One{
        font: 1.5rem;
    }
    .card-container , .front, .back{
        width: 20rem !important; 
        height: 20rem !important;
    }
    .img_card_Concurso{
        display: none;
    }
    .img_card_Concurso1-1{
        opacity: 0.3;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .equipo_flex{
        display: flex;
        flex-direction: column;
        background-color: #e2edff;
    }
    .textCard_Concurso{
        margin-top: 2px;
        color: black;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;
    }
    .section_inicioEquipo{
        display: flex;
        background-color: #e2edff;
        height: 100vh;
        width: 100vw;
    }
    .section_inicioTitle{
        font-family: 'Nunito', sans-serif;
    margin-left: 30vw;
    margin-top: 45vh;
    width: 60vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .btn_inicioTittle{
        text-decoration: none;
        font-size: 2rem;
    }
    .advertencia_concursos{
        font-size: 1.3rem;
        height: 2vh;
        text-align: center;
    }
    .concurso_card-uno{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .section_card-and-text{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .card-titleAnd-description{
        width: 100vw;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section_flex_cards{
        display: flex;
        align-content: center;
        width: 100vw;
    }
    .section_card_body{
        margin-top: 5vh;
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    .concurso_card-dos{
        margin-top: 20vh;
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    .concurso_card-tres{
        margin-top: 20vh;
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    .section_footer{
        margin-top: 40vh;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: #dee4ec6e;
    }
    .img_card_Concurso{
        opacity: 0.3;
    }
    .title_inicio{
        font-size: 2.8rem;
    }
    .subtitle_inicio{
        width: 60vw;
        font-size: 1.8rem;
    }
    .box-text-title {
        font-family: 'Nunito', sans-serif;
        margin-left: 20vw;
        text-align: center;
        width: 60vw;
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    .equipo_flex{
        display: flex;
        flex-direction: column;
        background-color: #e2edff;
    }
    .textCard_Concurso{
        margin-top: 2px;
        color: black;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;
    }
    .section_inicioEquipo{
        display: flex;
        background-color: #e2edff;
        height: 100vh;
        width: 100vw;
    }
    .section_inicioTitle{
        font-family: 'Nunito', sans-serif;
        margin-left: 50vw;
        margin-top: 45vh;
        width: 40vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .btn_inicioTittle{
        text-decoration: none;
        font-size: 2rem;
    }
    .advertencia_concursos{
        font-size: 1.3rem;
        height: 2vh;
        text-align: center;
    }
    .concurso_card-uno{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .section_card-and-text{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .card-titleAnd-description{
        width: 100vw;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section_flex_cards{
        display: flex;
        align-content: center;
        width: 100vw;
    }
    .section_card_body{
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    .concurso_card-dos{
        margin-top: 20vh;
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    .concurso_card-tres{
        margin-top: 20vh;
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    .section_footer{
        margin-top: 40vh;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: #dee4ec6e;
    }
    .img_card_Concurso{
        opacity: 0.3;
    }
    .title_inicio{
        font-size: 3rem;
    }
    .subtitle_inicio{
        width: 35vw;
        font-size: 1.8rem;
    }
    .box-text-title {
        font-family: 'Nunito', sans-serif;
        margin-left: 30vw;
        text-align: center;
        width: 40vw;
    }
}
@media (min-width: 1441px){
    .equipo_flex{
        display: flex;
        flex-direction: column;
        background-color: #e2edff;
    }
    .textCard_Concurso{
        margin-top: 2px;
        color: black;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;
    }
    .section_inicioEquipo{
        display: flex;
        background-color: #e2edff;
        height: 100vh;
        width: 100vw;
    }
    .section_inicioTitle{
        font-family: 'Nunito', sans-serif;

        margin-left: 55vw;
        margin-top: 45vh;

        width: fit-content;
        height: fit-content;

        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .btn_inicioTittle{
        text-decoration: none;
        font-size: 2rem;
    }
    .advertencia_concursos{
        font-size: 1.3rem;
        height: 2vh;
        text-align: center;
    }
    .concurso_card-uno{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .section_card-and-text{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .card-titleAnd-description{
        width: 100vw;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section_flex_cards{
        margin-top: 5vh;
        display: flex;
        align-content: center;
        width: 100vw;
    }
    .section_card_body{
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    .concurso_card-dos{
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    .concurso_card-tres{
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    .section_footer{
        margin-top: 4vh;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: #dee4ec6e;
    }
    .img_card_Concurso{
        opacity: 0.3;
    }
    .title_inicio{
        font-size: 3rem;
    }
    .subtitle_inicio{
        width: 35vw;
        font-size: 1.8rem;
    }
    .box-text-title {
        font-family: 'Nunito', sans-serif;
        margin-left: 30vw;
        text-align: center;
        width: 40vw;
    }
}
/* concurso responsive END */
/* clubptd responsive START */
@media (min-width: 320px) and (max-width: 425px){}
@media (min-width: 426px) and (max-width: 767px){}
@media (min-width: 768px) and (max-width: 1024px){}
@media (min-width: 1025px) and (max-width: 1440px){}
@media (min-width: 1441px){}
/* clubptd responsive END */