@import "../fonts";
@import "../libs/bootstrap/scss/bootstrap";
@import "../socialMedia";
@import "../responsive";
@import "../colores";
@import "../menu";

/* Social media Icons */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.modal-content{
    box-shadow: 0px 0px 13px 0px $WhiteT;
    background-color: $WhiteT;
    border: $WhiteT;
    margin-top: 50%;
    backdrop-filter: blur(6px);
}
.footer_Index{
    display: flex;
    height: 45px;
    margin-top: 20%;
    background-color: $GreyFooter;
}
.modal { 
    background-color: $ModalBackdrop;
    backdrop-filter: blur(5px);
}
    .flexContainerIndex {
        display: flex;
        flex-direction: column;
        font-family: "Playfair Display", serif;
        height: 100vh;
        background-color: $InicioB;
    }
    .gridTitleSup {
        width: fit-content;
        margin-top: 43vh;
        margin-left: 50vw;
    }
    .gridTitleInf {
        width: fit-content;
        margin-left: 50vw;
        font-family: "Montserrat", sans-serif;
    }
    /* Efecto "Pide tres deseos" */
    .gridTextInf {
        display: inline-block;
        position: relative;
        color: #333;
        text-decoration: none;
        transition: all 0.5s ease;
        transform-style: preserve-3d;
    }
    .gridTextInf:after {
        content: "¡Vamos!";
        position: absolute;
        top: -100%;
        left: 0px;
        width: 100%;
        transform-origin: left bottom;
        transform: rotateX(90deg);
    }
    .gridTextInf:hover {
        transform-origin: center bottom;
        transform: rotateX(-90deg) translateY(100%);
    }