@import "../fonts";
@import "../libs/bootstrap/scss/bootstrap";
/* Social media Icons */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*========= Colores =============*/
$WhiteT: rgba(255, 255, 255, 0.541); 
$GreyFooter: rgba(53, 53, 53, 0.541);
$IntroIcons: rgb(209, 209, 209);

.modal-content{
    box-shadow: 0px 0px 13px 0px $WhiteT;
    background-color: $WhiteT;
    border: $WhiteT;
    backdrop-filter: blur(6px);
}
.footer_Index{
    display: flex;
    height: 45px;
    margin-top: 20%;
    background-color: $GreyFooter;
}

/* Left Menu START*/
#Menu a {
    position: fixed;
    left: -120px;
    transition: 1.3s;
    padding: 15px;
    width: 130px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 0 10px 10px 0;
    }
    #Menu a:hover {
    left: 0;
    }
    #inicio {
    opacity: 0.8;
    transition: 2s;
    top: 20px;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(170, 170, 170, 0.329);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    }
    #tienda {
    opacity: 0.8;
    transition: 2s;
    top: 80px;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(170, 170, 170, 0.329);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    }
    #equipo {
    opacity: 0.8;
    transition: 2s;
    top: 140px;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(170, 170, 170, 0.329);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    }
    #concursos {
    opacity: 0.8;
    transition: 2s;
    top: 200px;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(170, 170, 170, 0.329);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    }
    #clubptd {
    opacity: 0.8;
    transition: 2s;
    top: 260px;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(170, 170, 170, 0.329);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    }
    .menuSlide {
    font-family: "Montserrat", sans-serif;
    }
    #inicio:hover {
    opacity: 1;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 88, 0.329);
    border-radius: 0px 10px 10px 0px;
    }
    #tienda:hover {
    opacity: 1;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 88, 0.329);
    border-radius: 0px 10px 10px 0px;
    }
    #equipo:hover {
    opacity: 1;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 88, 0.329);
    border-radius: 0px 10px 10px 0px;
    }
    #concursos:hover {
    opacity: 1;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 88, 0.329);
    border-radius: 0px 10px 10px 0px;
    }
    #clubptd:hover {
    opacity: 1;
    background: #ffffffe8;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 88, 0.329);
    border-radius: 0px 10px 10px 0px;
    }

/*==============================================================*/
/*================= RESPONSIVE SECTION =========================*/
/*==============================================================*/
    .flexContainerIndex {
        display: flex;
        flex-direction: column;
        font-family: "Playfair Display", serif;
    }
    .gridTitleSup {
        width: fit-content;
        margin-top: 43vh;
        margin-left: 50vw;
    }
    .gridTitleInf {
        width: fit-content;
        margin-left: 50vw;
        font-family: "Montserrat", sans-serif;
    }
    /* Efecto "Pide tres deseos" */
    .gridTexInf {
        display: inline-block;
        position: relative;
        color: #333;
        text-decoration: none;
        transition: all 0.5s ease;
        transform-style: preserve-3d;
    }
    .gridTexInf:after {
        content: "¡Vamos!";
        position: absolute;
        top: -100%;
        left: 0px;
        width: 100%;
        transform-origin: left bottom;
        transform: rotateX(90deg);
    }
    .gridTexInf:hover {
        transform-origin: center bottom;
        transform: rotateX(-90deg) translateY(100%);
    }
    @media (min-width: 320px) and (max-width: 425px){
        /* Index Section start */
        .gridTitleInf{
            margin-top: -10vh;
            margin-left: 30vw;
            width: 70vw;
            font-size: 1.5rem;
        }
        .gridTitleSup{
            margin-left: 30vw;
            width: 70vw;
        }
        /* Index Section end */
        #Menu a{
            width: 140px;
        }
        /* Inicio Section Start */
        .section_flex_Inicio{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-top: 40%;
            margin-left: 10%;
            z-index: -1;
        }
        .section_flex_slider{
            width: 80vw;
        }
        .section_flex_title1{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        .section_flex_title2{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        /* Inicio Section End */
        /* Club section start */
        .gridClub{
            display: grid;
        }
            .gridSubTitles1{
            font-size: 1.4rem;
            text-align: center;
            letter-spacing: 3px;
            margin-left: 10%;
            font-family: "Montserrat", sans-serif;
        }
        .gridSubTitles2{
            width: 80vw;
            text-align: center;
            letter-spacing: 2px;
            margin-left: 15%;
            margin-top: 15%;
            font-family: "Montserrat", sans-serif;
        }
        .GridSection{
            z-index: -1;
            margin-top: 20%;
        }
        .GridSectionSlider{
            z-index: -1;
            margin-top: 0%;
        }
        .gridButton{
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .aOpinion{
            color: black;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
        }
        /* Club section end */
    }
    @media (min-width: 426px) and (max-width: 768px){
        /* Index Section start */
        .gridTitleInf{
            margin-top: -10vh;
            margin-left: 30%;
            width: 70vw;
            font-size: 2rem;
        }
        .gridTitleSup{
            font-size: 1.3rem;
            margin-left: 30%;
            width: 70vw;
        }
        /* Inicio Section Start */
        .section_flex_Inicio{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-top: 40%;
            z-index: -1;
        }
        .section_flex_slider{
            width: 80vw;
        }
        .section_flex_title1{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        .section_flex_title2{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        /* Inicio Section End */
        /* Index Section end */
        #Menu a{
            width: 140px;
        }
        .gridClub{
            display: grid;
        }
        .gridSubTitles1{
            font-size: 1.6rem;
            text-align: center;
            letter-spacing: 3px;
            margin-left: 10%;
            font-family: "Montserrat", sans-serif;
        }
        .gridSubTitles2{
            width: fit-content;
            text-align: center;
            letter-spacing: 2px;
            margin-left: 42%;
            margin-top: 5%;
            font-family: "Montserrat", sans-serif;
        }
        .GridSection{
            z-index: -1;
            margin-top: 20%;
        }
        .GridSectionSlider{
            z-index: -1;
            margin-top: 0%;
        }
        .gridButton{
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .aOpinion{
            color: black;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .textSlider, .titleSlider{
            background-color: white;
            box-shadow: 0px 0px 30px 0px white;
        }
        .titleSlider{
            width: 100%;
            margin-bottom: auto;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px){
        /* Index Section start */
        .gridTitleSup{
            width: fit-content;
        }
        .gridTitleInf{
            width: fit-content;
            margin-top: -12vh;
        }
        .gridTextSup{
            font-size: 3rem;
        }
        .gridTexInf{
            font-size: 3rem;
        }
        /* Index Section end */
        #Menu a{
            width: 140px;
            left: -80px;
            text-align: right;
        }
        /* Inicio Section Start */
        .section_flex_Inicio{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-top: 40%;
            z-index: -1;
        }
        .section_flex_slider{
            width: 80vw;
        }
        .section_flex_title1{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        .section_flex_title2{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        /* Inicio Section End */
        /* Equipo section start */
        .gridClub{
            display: grid;
        }
        .gridTitles{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .gridSubTitles1{
            margin-top: 5%;
            font-size: 1.6rem;
            letter-spacing: 3px;
            font-family: "Montserrat", sans-serif;
        }
        .gridSubTitles2{
            width: fit-content;
            margin-top: 5%;
            margin-left: 50%;
            letter-spacing: 2px;
            font-family: "Montserrat", sans-serif;
        }
        .GridSection{
            z-index: -1;
            margin-top: 20%;
        }
        .GridSectionSlider{
            z-index: -1;
            margin-top: 0%;
        }
        .buttonOpinion{
            width: fit-content;
        }
        .gridButton{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }
        .aOpinion{
            color: black;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .textSlider, .titleSlider{
            background-color: white;
            box-shadow: 0px 0px 30px 0px white;
        }
        .titleSlider{
            width: 100%;
            margin-bottom: auto;
        }
    }
    @media (min-width: 1025px) and (max-width: 1440px){
        /* Index Section start */
        .gridTitleSup{
            width: fit-content;
        }
        .gridTitleInf{
            width: fit-content;
            margin-top: -12vh;
        }
        .gridTextSup{
            font-size: 3rem;
        }
        .gridTexInf{
            font-size: 3rem;
        }
        /* Index Section end */
        #Menu a{
            width: 140px;
            left: -0px;
            text-align: left;
            z-index: 1;
        }
        /* Inicio Section Start */
        .section_flex_Inicio{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-top: 10%;
            z-index: -1;
        }
        .section_flex_slider2{
            width: 50vw;
        }
        .section_flex_title1{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        .section_flex_title2{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
        }
        /* Inicio Section End */
        /* Club section start */
        .gridClub{
            display: grid;
        }
        .gridTitles{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .gridSubTitles1{
            margin-top: 5%;
            letter-spacing: 3px;
            font-size: 2rem;
            height: fit-content;
            font-family: "Montserrat", sans-serif;
        }
        .gridSubTitles2{
            width: fit-content;
            margin-top: 5%;
            margin-left: 1%;
            letter-spacing: 2px;
            font-size: 2rem;
            font-family: "Montserrat", sans-serif;
        }
        .GridSection{
            z-index: -1;
            margin-top: 20%;
        }
        .GridSectionSlider{
            margin-left: 15%;
            width: 70vw;
            z-index: -1;
            margin-top: 0%;
        }
        .buttonOpinion{
            width: fit-content;
        }
        .gridButton{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }
        .aOpinion{
            color: black;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .textSlider, .titleSlider{
            background-color: white;
            box-shadow: 0px 0px 30px 0px white;
        }
        .titleSlider{
            width: 100%;
            margin-bottom: auto;
        }
        /* Club section end */
    }
    @media (min-width: 1441px) and (max-width: 1920px){
        /* Index Section start */
        .gridTitleSup{
            width: fit-content;
        }
        .gridTitleInf{
            width: fit-content;
            margin-top: -1.2vh;
        }
        .gridTextSup{
            font-size: 3rem;
        }
        .gridTexInf{
            font-size: 3rem;
        }
        /* Index Section end */
        #Menu a{
            width: 140px;
            left: -0px;
            text-align: left;
        }
        /* Inicio Section Start */
        .section_flex_Inicio{
            display: flex;
            flex-direction: row;
        }
        .section_flex_inicio_SliderandTitle{
            margin-top: 25vh;
            margin-left: 20vw;
            display: flex;
            flex-direction: column;
        }
        .section_flex_inicio_SliderandTitle2{
            margin-top: 25vh;
            margin-left: 5vw;
            display: flex;
            flex-direction: column;
        }
        .section_flex_slider{
            width: 35vw;
        }
        .section_flex_video{
            position: absolute;
            margin-top: 30vh;
            margin-left: 70vw;
        }
        .section_flex_titles{
            display: flex;
            justify-content: space-around;
            height: fit-content;
            width: fit-content;
        }
        .section_flex_title1{
            font-size: 2rem;
            height: fit-content;
            font-family: "Montserrat", sans-serif;
        }
        .section_flex_title2{
            font-size: 2rem;
            height: fit-content;
            font-family: "Montserrat", sans-serif;
        }
        /* Inicio Section End */
        /* Club Section Start */
        .gridClub{
            display: grid;
        }
        .gridTitles{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .gridSubTitles1{
            margin-top: 5%;
            letter-spacing: 3px;
            font-size: 2rem;
            height: fit-content;
            font-family: "Montserrat", sans-serif;
        }
        .gridSubTitles2{
            width: fit-content;
            margin-top: 5%;
            margin-left: 1%;
            letter-spacing: 2px;
            font-size: 2rem;
            font-family: "Montserrat", sans-serif;
        }
        .GridSection{
            z-index: -1;
            margin-top: 20%;
        }
        .GridSectionSlider{
            margin-left: 15%;
            width: 70vw;
            z-index: -1;
            margin-top: 0%;
        }
        .buttonOpinion{
            width: fit-content;
        }
        .gridButton{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }
        .aOpinion{
            color: black;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .textSlider, .titleSlider{
            background-color: white;
            box-shadow: 0px 0px 30px 0px white
        }
        .titleSlider{
            width: 100%;
            margin-bottom: auto;
        }
        /* Club Section end */
        /* Concurso section start */
        .concursoGrid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 0px;
        }
        .concursoTitle {
            grid-area: 1 / 3 / 2 / 7;
        }
        .concursoFooter {
            grid-area: 8 / 1 / 9 / 9;
        }
        .concursoPlaces {
            grid-area: 2 / 2 / 8 / 8;
        }
        
        .concursoGrid {
            display: grid;
        }
        .concursoTitle {
            display: flex;
            width: 74vw;
            height: 10vh;
        }
        .concursoTitle1 {
            margin-top: 10%;
            text-align: center;
            font-size: 2.3rem;
            margin-left: 30%;
            font-family: "Fredericka the Great", cursive;
        }
        .concursoPlaces {
            display: flex;
            width: 86vw;
            height: 60vh;
            height: fit-content;
            margin-top: 10%;
        }
        .concursoGrid1 {
            margin-top: 20vh;
        }
        .concursoGrid2 {
            height: fit-content;
        }
        .concursoGrid3 {
            height: fit-content;
        }
        .concursoFooter {
            display: flex;
            position: absolute;
            z-index: -1;
        }
        
          /* Animación de tarjetas */
        .participateButton{
            text-decoration: none;
            color: black;
        }
        .tarjetas {
            font-family: "Montserrat", sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .tarjeta {
            width: 20vw;
            margin: 1rem;
        
            perspective: 1000px;
            transform-style: preserve-3d;
        }
        .tarjeta .frontal,
        .tarjeta .tracero {
            height: auto;
            min-height: 30vh;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            box-shadow: 8px 8px 32px 0 rgba(88, 88, 88, 0.452);
            font-size: 1.5rem;
            text-align: center;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }
        .tarjeta .frontal {
            transform: rotateY(0deg);
        }
        .imgFrontal1 {
            background-image: url(/img/concursos/1.jpg);
        }
        .tarjetaText1 {
            background: rgba(255, 255, 255, 0.26);
            box-shadow: 8px 8px 32px 0 rgba(221, 221, 221, 0.267);
            backdrop-filter: blur(5px);
        }
        .imgFrontal2 {
            background-image: url(/img/concursos/2.jpg);
        }
        .tarjetaText2 {
            background: rgba(255, 255, 255, 0.26);
            box-shadow: 8px 8px 32px 0 rgba(221, 221, 221, 0.267);
            backdrop-filter: blur(5px);
        }
        .imgFrontal3 {
            background-image: url(/img/concursos/3.jpg);
        }
        .tarjetaText3 {
            background: rgba(255, 255, 255, 0.26);
            box-shadow: 8px 8px 32px 0 rgba(221, 221, 221, 0.267);
            backdrop-filter: blur(5px);
        }
        .imgFrontal4 {
            background-image: url(/img/concursos/4.jpg);
        }
        .tarjetaText4 {
            background: rgba(255, 255, 255, 0.26);
            box-shadow: 8px 8px 32px 0 rgba(221, 221, 221, 0.267);
            backdrop-filter: blur(5px);
        }
        .imgFrontal5 {
            background-image: url(/img/concursos/5.jpg);
        }
        .tarjetaText5 {
            background: rgba(255, 255, 255, 0.26);
            box-shadow: 8px 8px 32px 0 rgba(221, 221, 221, 0.267);
            backdrop-filter: blur(5px);
        }
        .imgFrontal6 {
            background-image: url(/img/concursos/6.jpg);
        }
        .tarjetaText6 {
            background: rgba(255, 255, 255, 0.26);
            box-shadow: 8px 8px 32px 0 rgba(221, 221, 221, 0.267);
            backdrop-filter: blur(5px);
        }
        .tarjeta .tracero {
            width: 100%;
        
            background-color: #3838383d;
            box-shadow: 8px 8px 32px 0 rgba(88, 88, 88, 0.452);
        
            top: 0;
            left: 0;
            position: absolute;
            /* Posicion por defecto */
            transform: rotateY(180deg);
        }
          /* Velocidad de trancicion */
        .tarjeta:hover .frontal,
        .tarjeta:hover .tracero {
            transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }
        
          /* Girar imagen */
        .tarjeta:hover .frontal {
            transform: rotateY(-180deg);
        }
        .tarjeta:hover .tracero {
            transform: rotateY(0deg);
        }
        
        .tarjeta .contenido {
            width: 100%;
            position: absolute;
        
            padding: 2rem;
            box-sizing: border-box;
        
            top: 50%;
            left: 0;
            perspective: inherit;
            /* Posicion de texto central */
            transform: translateY(-50%) translateZ(60px) scale(0.94);
        }
        .frontal .contenido p {
            font-size: 2rem;
            position: relative;
            margin-bottom: 0.5rem;
        }
        .frontal .contenido hr {
            width: 10rem;
            height: 1px;
        
            background: #c6d4df;
        
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }
        .frontal .contenido span {
            color: rgba(255, 255, 255, 0.7);
        }
        
          /* Countdown de la tarjetas */
        #countdown {
            position: absolute;
            background: #e85810;
            width: 12vw;
            padding: 1em;
            box-sizing: border-box;
            border-radius: 1em;
            color: rgb(0, 0, 0);
            font-size: 1em;
            font-family: "Roboto", sans-serif;
        }
        #countdown i {
            font-size: 1em;
        }
          /* Concurso section end */
        .tiendaGrid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 0px;
        }
        .tiendaGrid{
            z-index: -1;
            /* margin-top: 40vh; */
        }
        .headerDiv1 {
            grid-area: 1 / 1 / 3 / 9;
        }
        .marketplaceDiv2 {
            grid-area: 3 / 2 / 9 / 9;
        }
        .product1 {
            grid-area: 4 / 3 / 6 / 4;
        }
        .product2 {
            grid-area: 6 / 3 / 8 / 4;
        }
        .product3 {
            grid-area: 6 / 5 / 8 / 6;
        }
        .product4 {
            grid-area: 4 / 5 / 6 / 6;
        }
        .product5 {
            grid-area: 6 / 7 / 8 / 8;
        }
        .product6 {
            grid-area: 4 / 7 / 6 / 8;
        }
        .footerGrid {
            grid-area: 8 / 1 / 9 / 9;
        }
        
        /*===   Fuente TIENDA    ===*/
        .tiendaGrid {
            grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
            font-family: "Montserrat", sans-serif;
        }
        /*===   HEADER TIENDA START   ===*/
        .headerDiv1 {
            width: 100vw;
            height: max-content;
        }
        
        .headerTitle {
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 42%;
            margin-top: 1%;
            width: max-content;
            height: min-content;
            padding: 12px;
            font-size: 1.2rem;
            background: rgba(221, 221, 221, 0.233);
            box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.267);
            text-decoration: none;
        }
        .buttonHeader {
            color: black;
            text-decoration: none;
            transition: 1500ms;
        }
        .buttonHeader:hover {
            transition: 1500ms;
            color: rgb(236, 39, 105);
        }
        /*===   TIENDA SECTION START  ===*/
        .marketplaceDiv2 {
            height: 105vh;
        }
        .productsFlex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-flow: wrap;
            margin-top: 10vh;
        }
        .pricesAndButton {
            margin-top: 1%;
            text-decoration: none;
            color: #333;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            text-align: center;
            padding: 3%;
        }
        .pricesShadow {
            border-radius: 6%;
            transition: 320ms;
            padding: 10px;
        }
        .pricesShadow:hover {
            border-radius: 6%;
            padding: 10px;
            transition: 320ms;
        }
        .btnComprarShadow {
            color: black;
            text-decoration: none;
            border-radius: 6%;
            padding: 10px;
            transition: 1500ms;
        }
        .product1 {
            padding: 9px;
            transition: 1s;
            backdrop-filter: blur(6px);
            opacity: 0.8;
            margin-bottom: 20px;
        }
        .imgProduct1 {
            border-radius: 4%;
        }
        .product2 {
            padding: 9px;
            transition: 1s;
            backdrop-filter: blur(6px);
            opacity: 0.8;
            margin-bottom: 20px;
        }
        .imgProduct2 {
            border-radius: 4%;
        }
        .product3 {
            padding: 9px;
            transition: 1s;
            backdrop-filter: blur(6px);
            opacity: 0.8;
            margin-bottom: 20px;
        }
        .imgProduct3 {
            border-radius: 4%;
        }
        .product4 {
            padding: 9px;
            transition: 1s;
            backdrop-filter: blur(6px);
            opacity: 0.8;
            margin-bottom: 20px;
        }
        .imgProduct4 {
            border-radius: 4%;
        }
        .product5 {
            padding: 9px;
            transition: 1s;
            backdrop-filter: blur(6px);
            opacity: 0.8;
            margin-bottom: 20px;
        }
        .imgProduct5 {
            border-radius: 4%;
        }
        .product6 {
            padding: 9px;
            transition: 1s;
            backdrop-filter: blur(6px);
            opacity: 0.8;
            margin-bottom: 20px;
        }
        .imgProduct6 {
            border-radius: 4%;
        }
        .product1:hover {
            font-size: 1rem;
            transform: scale(1.05);
            border-radius: 4%;
            background: rgba(221, 221, 221, 0.274);
            box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.267);
            backdrop-filter: blur(6px);
            padding: 5px;
            transition: 1.5s;
            opacity: 1;
        }
        .product2:hover {
            font-size: 1rem;
            transform: scale(1.05);
            border-radius: 6%;
            background: rgba(221, 221, 221, 0.274);
            box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.267);
            backdrop-filter: blur(6px);
            padding: 9px;
            transition: 1.5s;
            opacity: 1;
        }
        .product3:hover {
            font-size: 1rem;
            transform: scale(1.05);
            border-radius: 6%;
            background: rgba(221, 221, 221, 0.274);
            box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.267);
            backdrop-filter: blur(6px);
            padding: 9px;
            transition: 1.5s;
            opacity: 1;
        }
        .product4:hover {
            font-size: 1rem;
            transform: scale(1.05);
            border-radius: 6%;
            background: rgba(221, 221, 221, 0.274);
            box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.267);
            backdrop-filter: blur(6px);
            padding: 9px;
            transition: 1.5s;
            opacity: 1;
        }
        .product5:hover {
            font-size: 1rem;
            transform: scale(1.05);
            border-radius: 6%;
            background: rgba(221, 221, 221, 0.274);
            box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.267);
            backdrop-filter: blur(6px);
            padding: 9px;
            transition: 1.5s;
            opacity: 1;
        }
        .product6:hover {
            font-size: 1rem;
            transform: scale(1.05);
            border-radius: 6%;
            background: rgba(221, 221, 221, 0.274);
            box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.267);
            backdrop-filter: blur(6px);
            padding: 9px;
            transition: 1.5s;
            opacity: 1;
        }
        .product1 {
            width: min-content;
        }
        .product2 {
            width: min-content;
        }
        .product3 {
            width: min-content;
        }
        .product4 {
            width: min-content;
        }
        .product5 {
            width: min-content;
        }
        .product6 {
            width: min-content;
        }
        /* Equipo section start */
        .bodyT, .htmlT{
            height: 100%;
            margin: 0;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            line-height: 1.8rem;
            color: #666;
        }
        .h2_Titles{
            font-family: 'Oswald', sans-serif;
        }
        .pimg1,.pimg2,.pimg3,.pimg4{
            min-height: 100%;
            position: relative;
            z-index: -1;
            opacity: 0.70;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            /* background-attachment: fixed = parallax*/
            /* background-attachment: scroll = normal */
            background-attachment: fixed;
        }
        
        .pimg1{
            min-height: 100%;
        }
        .pimg2{
            background-image: url('/img/teamMate.jpg');
            min-height: 400px;
        }
        .pimg3{
            background-image: url('/img/equipo/8500.jpg');
            min-height: 400px;
        }
        .pimg4{
            min-height: 100%;
        }
        .section{
            text-align: center;
            padding: 10px 80px;
        }
        .section-light{
            background-color: #282e34;
            color: #ddd;
        }
        .section-dark{
            background-color: #282e34;
            color: #ddd;
        }
        .ptext{
            position: absolute;
            top:50%;
            width:100%;
            text-align: center;
            color: #000000;
            font-size: 27px;
            letter-spacing: 8px;
            text-transform: uppercase;
        }
        .ptext .border_Equipo{
            padding: 20px;
            color: black;
        }
        .ptext .border_Equipo.trans{
            background-color: transparent;
        }
        footer{
            text-align: center;
            padding: 0.1rem 1rem;  
            margin: auto; 
            color: #333333;
            background-color: #a84242;
        }
        
        .contact-links{
            display: flex;
            justify-content: center;
            width: 200px;
            max-width: 980px;
            /* padding: 1rem; */
            /* flex-wrap: wrap; */
            margin-left: 52.5rem; 
            
        }
        .contact-details{
            font-size: 1.3rem;
            margin-bottom: 1rem;
            transition: transform 0.3s ease-out; 
        }
        .contact-details:hover{
            transform: translateY(5px);
        }
        .btn{
            display: inline-block;
            padding-right: 1rem;
            text-decoration: none;
            color: #333333;
        }
        
        
        .textDiv{
            /* Text */
            font-size: 0.1rem;
            margin-left: 28.5%;
            margin-top: 0%;
            text-align: center;
            width: 800px;
        }
        .firmaVvg{
            position: absolute;
            width: 40vw;
            margin-top: 52vh;
            margin-left: 30vw;
            opacity: 0.1;
            transition: 1500ms;
        }
        .firmaVvg:hover{
            transition: 1500ms;
            opacity: 1;
        }
        
        
    }